
/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

/* Experiencia */
  .seccion-clara {
    color: black;
    background-color: white;
  }

  .experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color: white;
    background-color: #3d0b16;
  }

  .experiencia i {
    font-size: 2.5rem;
    color: #007076;
    background-color: #ec5990;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badge {
    margin: 5px;
  }

  .marsInfo{
    text-align: justify;
  }

  .custom-hr {
    border: 0;
    height: 2px;
    background: #333; /* Change this to your desired color */
    margin: 20px 0; /* Adjust the spacing as needed */
  }

  /* Horizontal Scroll*/
  .scrolling-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }